<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>在线测试系统 | 编辑用户</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/asset/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/buttons.css"/>
    <link rel="stylesheet" type="text/css" href="../static/asset/icheck/flat/flat/blue.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/edit_user.css"/>
</head>
<body>
<div class="container-fluid" align="center" style="background-color: #ECF0F1">
    <form class="form-horizontal">
        <input id="id" type="hidden" value="$!{userVo.id}">
        <div class="control-group">
            <label class="control-label" for="username">用户名：</label>
            <div class="controls">
                <input id="username"
                       name="username" placeholder="请输入用户名"
                       type="text" value="$!{userVo.username}" required/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">密码：</label>
            <div class="controls">
                <input id="password"
                       name="password" placeholder="请输入密码" type="text"
                       value="$!{userVo.password}" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="phone">手机号：</label>
            <div class="controls">
                <input id="phone"
                       name="phone" placeholder="请输入手机号" type="text"
                       value="$!{userVo.phone}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">邮箱：</label>
            <div class="controls">
                <input id="email"
                       name="email" placeholder="请输入邮箱" type="email"
                       value="$!{userVo.email}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="wechat">微信号：</label>
            <div class="controls">
                <input id="wechat"
                       name="wechat" placeholder="请输入微信号"
                       type="text" value="$!{userVo.wechat}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="isAdmin">用户类型：</label>
            <div class="controls">
                #if ( ${userVo.type} == "COMMON")
                    <select id="type" name="type">
                        <option value="COMMON" name="type" selected="selected">普通用户</option>
                        <option value="MANAGER" name="type">管理员</option>
                        <option value="ADMIN" name="type">系统管理员</option>
                    </select>
                #elseif(${userVo.type} == "MANAGER")
                    <select id="type" name="type">
                        <option value="COMMON" name="type">普通用户</option>
                        <option value="MANAGER" name="type" selected="selected">管理员</option>
                        <option value="ADMIN" name="type">系统管理员</option>
                    </select>
                #elseif(${userVo.type} == "ADMIN")
                    <select id="type" name="type">
                        <option value="COMMON" name="type">普通用户</option>
                        <option value="MANAGER" name="type">管理员</option>
                        <option value="ADMIN" name="type" selected="selected">系统管理员</option>
                    </select>
                #else
                    <select id="type" name="type">
                        <option value="COMMON" name="type" selected="selected">普通用户</option>
                        <option value="MANAGER" name="type">管理员</option>
                        <option value="ADMIN" name="type">系统管理员</option>
                    </select>
                #end
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="isAdmin">用户状态：</label>
            <div class="controls">
                #if ( ${userVo.status} == "AUDITING")
                    <select id="status" name="status">
                        <option value="AUDITING" name="status" selected="selected">待审核</option>
                        <option value="REFUSE" name="status">审核不通过</option>
                        <option value="NORMAL" name="status">审核通过</option>
                        <option value="DELETED" name="status">已删除</option>
                        <option value="BLACK" name="status">黑名单</option>
                    </select>
                #elseif(${userVo.status} == "REFUSE")
                    <select id="status" name="status">
                        <option value="AUDITING" name="status">待审核</option>
                        <option value="REFUSE" name="status" selected="selected">审核不通过</option>
                        <option value="NORMAL" name="status">审核通过</option>
                        <option value="DELETED" name="status">已删除</option>
                        <option value="BLACK" name="status">黑名单</option>
                    </select>
                #elseif(${userVo.status} == "NORMAL")
                    <select id="status" name="status">
                        <option value="AUDITING" name="status">待审核</option>
                        <option value="REFUSE" name="status">审核不通过</option>
                        <option value="NORMAL" name="status" selected="selected">审核通过</option>
                        <option value="DELETED" name="status">已删除</option>
                        <option value="BLACK" name="status">黑名单</option>
                    </select>
                #elseif(${userVo.status} == "DELETED")
                    <select id="status" name="status">
                        <option value="AUDITING" name="status">待审核</option>
                        <option value="REFUSE" name="status">审核不通过</option>
                        <option value="NORMAL" name="status">审核通过</option>
                        <option value="DELETED" name="status" selected="selected">已删除</option>
                        <option value="BLACK" name="status">黑名单</option>
                    </select>
                #elseif(${userVo.status} == "BLACK")
                    <select id="status" name="status">
                        <option value="AUDITING" name="status">待审核</option>
                        <option value="REFUSE" name="status">审核不通过</option>
                        <option value="NORMAL" name="status">审核通过</option>
                        <option value="DELETED" name="status">已删除</option>
                        <option value="BLACK" name="status" selected="selected">黑名单</option>
                    </select>
                #else
                    <select id="status" name="status">
                        <option value="AUDITING" name="status" selected="selected">待审核</option>
                        <option value="REFUSE" name="status">审核不通过</option>
                        <option value="NORMAL" name="status">审核通过</option>
                        <option value="DELETED" name="status">已删除</option>
                        <option value="BLACK" name="status">黑名单</option>
                    </select>
                #end
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="intro">个人简介：</label>
            <div class="controls">
                <input id="intro"
                       name="intro" placeholder="请简单介绍一下自己"
                       type="text" value="$!{userVo.intro}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="color: black;font-size: 15px;" for="tag">用户标签</label>
            <div id="tag">
                <input id="taglist" value="$!{userVo.tagList}" hidden="hidden">
                <div>
                    <label style="color: black;font-size: 15px;">Java</label><input type="checkbox" name="tag" id="java" value="JAVA">
                    <label style="color: black;font-size: 15px;">HTML</label><input type="checkbox" name="tag" id="html" value="HTML">
                    <label style="color: black;font-size: 15px;">操作系统</label><input type="checkbox" name="tag" id="system" value="SYSTEM">
                    <label style="color: black;font-size: 15px;">计算机网络</label><input type="checkbox" name="tag" id="network" value="NETWORK">
                </div>
                <div>
                    <label style="color: black;font-size: 15px;">CSS</label><input type="checkbox" name="tag" id="css" value="CSS">
                    <label style="color: black;font-size: 15px;">Spring</label><input type="checkbox" name="tag" id="spring" value="SPRING">
                    <label style="color: black;font-size: 15px;">Hibernate</label><input type="checkbox" name="tag" id="hibernate" value="HIBERNATE">
                    <label style="color: black;font-size: 15px;">MySQL</label><input type="checkbox" name="tag" id="mysql" value="MYSQL">
                </div>
            </div>
        </div>

        <div>
            <input id="edit_save_btn" type="button" value="保存"/>
        </div>
    </form>
</div>

<script type="text/javascript" src="../../../static/asset/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../../../static/asset/jquery/jquery.md5.js"></script>
<script type="text/javascript" src="../../../static/asset/layer/layer.js"></script>
<script type="text/javascript" src="../../../static/asset/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../../../static/asset/icheck/flat/js/icheck.js"></script>
<script type="text/javascript" src="../../../static/js/edit_user.js"></script>
</body>
</html>
