<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>在线测试系统 | 试卷作答</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/asset/bootstrap/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/TimeCircles.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/buttons.css"/>
    <link rel="stylesheet" type="text/css" href="../static/asset/icheck/flat/flat/blue.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/exam.css"/>
</head>
<body style="overflow: auto">
#include("./index.vm")
<br/>
<div class="selectDom">
    <div>
        <div class="">
            <legend class="title">
                <span>请选择试卷类型：</span>
            </legend>
        </div>
        <input id="uid" value="$!{uid}" hidden/>
        <form class="form1">
            <label>
                <input name="paperType" type="radio" value="SINGLE_SELECTION">
                <span>单选</span>
            </label>

            <label>
                <input name="paperType" type="radio" value="MULTI_SELECTION">
                <span>多选</span>
            </label>
            <label>
                <input name="paperType" type="radio" value="PROGRAMMING_QUESTION">
                <span>编程题</span>
            </label>
            <label>
                <input name="paperType" type="radio" value="SINGLE_AND_MULTI">
                <span>单选和多选</span>
            </label>
            <label>
                <input name="paperType" type="radio" value="SINGLE_AND_PROGRAMMING">
                <span>单选和编程</span>
            </label>
            <label>
                <input name="paperType" type="radio" value="MULTI_AND_PROGRAMMING">
                <span>多选和编程</span>
            </label>
            <label>
                <input name="paperType" type="radio" value="SINGLE_AND_MULTI_PROGRAMMING">
                <span>单选、多选和编程</span>
            </label>
        </form>
        <div class="">
            <legend class="title">
                <span>请选择试题技术范围：</span>
            </legend>
        </div>
        <form class="form2">
            <label>
                <input name="questionTagList" type="checkbox" value="JAVA">
                <span>Java</span>
            </label>
            <label>
                <input name="questionTagList" type="checkbox" value="HTML">
                <span>HTML</span>
            </label>
            <label>
                <input name="questionTagList" type="checkbox" value="SYSTEM">
                <span>操作系统</span>
            </label>
            <label>
                <input name="questionTagList" type="checkbox" value="NETWORK">
                <span>计算机网络</span>
            </label>
            <label>
                <input name="questionTagList" type="checkbox" value="CSS">
                <span>CSS</span>
            </label>
            <label>
                <input name="questionTagList" type="checkbox" value="SPRING">
                <span>Spring框架</span>
            </label>
            <label>
                <input name="questionTagList" type="checkbox" value="HIBERNATE">
                <span>Hibernate</span>
            </label>
            <label>
                <input name="questionTagList" type="checkbox" value="MYSQL">
                <span>MySql数据库</span>
            </label>
            <!--<label>-->
                <!--<input type="checkbox" name="checkAll" id="checkAll">-->
                <!--<span>全选/取消全选</span>-->
            <!--</label>-->
        </form>
        <div align="center">
            <a id="submit-btn" class="button button-primary button-pill button-normal">提交</a>
        </div>
    </div>

</div>
<div id="countTime" style="position: relative;float: right"></div>
<div id="exam" style="background-color: #ECF0F1;margin-top: -20px">
    <div class="" id="show" style="color: black;font-size: 30px" align="center">
        <legend class="title">
            <span>试卷作答：</span>
        </legend>
    </div>
    <form>
        <div align="right">
            <a id="exam-over-btn" class="button button-primary button-pill button-normal" style="position: relative;top: -5px;">交卷</a>
        </div>
    </form>
    <input id="pid" value="$!{pid}" hidden/>
    <input id="s" value="0" hidden/>
    <input id="m" value="0" hidden/>
    <input id="p" value="0" hidden/>
    <br/>
    <div id="single"></div>
    <div id="multi"></div>
    <div id="program"></div>

</div>
<script type="text/javascript" src="../static/asset/jquery/jquery-1.11.2.js"></script>
<script type="text/javascript" src="../static/asset/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/asset/jquery/jquery.simplePagination.js"></script>
<script type="text/javascript" src="../static/asset/icheck/flat/js/icheck.js"></script>
<script type="text/javascript" src="../static/js/TimeCircles.js"></script>
<script type="text/javascript" src="../static/asset/layer/layer.js"></script>
<script type="text/javascript" src="../static/js/exam.js"></script>
<script>
</script>
</body>
</html>
