<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>在线测试系统 | 注册</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="../static/css/simplePagination.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/online.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/register.css"/>
</head>
<body style="overflow: auto">
<div id="particles-js"></div>
<section class="wrapper">
    <div align="center">
        <div>在线测试系统注册</div>
        <br/>
        <form>
            <div>用&nbsp;&nbsp;户&nbsp;&nbsp;名：
                <input id="username" name="username" placeholder="请输入用户名" type="text" value="$!{user.username}" required/>
            </div>
            <div>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：
                <input id="password" name="password" placeholder="请输入密码" type="password" value="$!{user.password}" required/>
            </div>
            <div>确认密码：
                <input id="password2" name="password2" placeholder="请再次输入密码" type="password" required/>
            </div>
            <div>手&nbsp;&nbsp;机&nbsp;&nbsp;号：
                <input id="phone" name="phone" placeholder="请输入手机号" type="text" value="$!{user.phone}"/>
            </div>
            <div>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：
                <input id="email" name="email"  class="mail" placeholder="请输入邮箱" type="email" value="$!{user.email}" oninvalid="msg("校验失败")"/>
            </div>
            <div>微&nbsp;&nbsp;信&nbsp;&nbsp;号：
                <input id="wechat" name="wechat" placeholder="请输入微信号" type="text" value="$!{user.wechat}"/>
            </div>
            <div>个人简介：
                <textarea id="intro" name="intro" class="intro" placeholder="请简单介绍一下自己" type="text">$!{user.intro}</textarea>
            </div>
            <div id="captcha"></div>
            <br/>
            <input id="submit_btn" class="btn input-submit" disabled="disabled" type="button" value="注册"
                   style="width: 40%;background-color:#fff;color: #0f0f0f;font-size: 15px;height: 30px"/>
        </form>
    </div>
</section>

<script type="text/javascript" src="../static/asset/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../static/asset/jquery/jquery.md5.js"></script>
<script type="text/javascript" src="../static/asset/layer/layer.js"></script>
<script type="text/javascript" src="../static/js/particles.js"></script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript" src="../static/js/bg.js"></script>
<script type="text/javascript" src="../static/js/seccode.js"></script>
<script type="text/javascript" src="../static/js/register.js"></script>
</body>
</html>
